/**************************************/
/* form styles */

.form{
    margin:0;
	padding:0;
  }

/*********************表单元素名称*********************/
.formTable{
   border:0px;
   padding:0px;
   margin:0px;
   width:98%;
   }
.label{
   color:#000000;
   text-align:right;
   padding-right:5px;
   height:25px;
   font-family:"宋体";
   font-size:12px;
  }
  
.field{
   color:#000000;
   text-align:left;
   height:25px;
   font-family:"宋体";
   font-size:12px;
   vertical-align:middle;
   
}
.desc{
   color:#000000;
   text-align:left;
   height:25px;
   font-family:"宋体";
   font-size:12px;
   }
  
/*****************      输入框    *********************/
.input{
	  height:18px;
	  margin-left:5px;
	  font-family:"宋体";
	  font-size:12px;
	  width:160px;
	  padding-top:3px;
	  border:1px solid #CDCDCD;
}
/*****************      下拉框    *********************/

select{position:relative;font-size:12px;width:163px;height:20px;border:1px;border:1px solid #CDCDCD;}   

/*****************      多行文本输入框    *********************/
.textArea{
   width:98%;
   border:1px solid #CDCDCD;
   font-family:"宋体";
   font-size:12px;
   color:#000000;
   padding:5px;
   margin-left:5px;
   }

/*************************   表单必输入文字*****************************/
.keyItem{
  margin:0;
  padding:0;
  color:#FF0000;
  }
/*************************   按  钮*****************************/
    .smallButtonover{
	BORDER-RIGHT: #FFE400 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: #FFE400 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#9DBCEA); 
	BORDER-LEFT: #FFE400 1px solid; 
	CURSOR: hand; 
	COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #FFE400 1px solid;
	margin: 0px 5px;
}
.smallButton{
	BORDER-RIGHT: #002D96 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: #002D96 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#9DBCEA); 
	BORDER-LEFT: #002D96 1px solid; 
	CURSOR: hand; 
	COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #002D96 1px solid;
	margin: 0px 5px;
} 
/* 小按钮样式 */
.btn_2{
  width:55px;
  height:22px;
  background:url(../images/btn/btn_bg.gif) repeat-x;
  border:1px solid #CDCDCD;
  padding:3px 0px;
  font-family:"宋体";
  font-size:12px;
  color:#555555;
  text-align:center;
  margin: 0px 5px;
  }
    
.dotButton{
  width:20px;
  height:18px;
  background:url(../images/btn/btn_bg.gif) repeat-x;
  border:1px solid #CDCDCD;
  padding-bottom:3px;
  font-family:"宋体";
  font-size:12px;
  color:#555555;
  text-align:center;
  }
.dotButton a{
  width:20px;
  height:18px;
  background:url(../images/btn/btn_bg.gif) repeat-x;
   padding-bottom:3px;
  text-decoration:none;
  }
.dotButton a:hover{
  width:20px;
  height:18px;
  background:url(../images/btn/btn_bg_1.gif) repeat-x;
  padding-bottom:3px;
  text-decoration:none;
  } 
/*************************   按  钮 位 置*****************************/
  
.btnPosition{
  margin:0 auto;
  text-align:center;
  height:40px;
  }
.bigBtn{
  width:100px;
  height:40px;
  text-align:left;
  margin:0 auto;
  text-align:center;
  vertical-align:middle;
  }
/* 大按钮样式 */
.btn{
    border:0px;
	margin:0px;
	padding:0px;
 }
.btn_l{
   width:2px;
   padding:0;
   margin:0;
   background:url(../images/btn/btn_l.gif) no-repeat;
   height:25px;
   }
.btn_r{
   width:2px;
   padding:0;
   margin:0;
   background:url(../images/btn/btn_r.gif) no-repeat;
   height:25px;
   }
.btn_m{
   padding:0;
   margin:0;
   background:url(../images/btn/btn_m.gif) repeat-x;
   height:25px;
   text-align:left;
   display:block;
   }
.btn_m a{
   padding:0;
   margin:0;
   display:block;
   background:url(../images/btn/btn_m.gif) repeat-x;
   height:25px;
   text-align:left;
   padding-top:4px;
   text-decoration:none;
   }
.btn_m a:hover{
   padding:0;
   margin:0;
   background:url(../images/btn/btn_m_hover.gif) repeat-x;
   height:25px;
   text-align:left;
   display:block;
   padding-top:4px;
   text-decoration:none;
   }
.btn_icon{
   vertical-align:middle;
   margin-left:3px;
   padding:0;
   }

/******************* 提示信息****************************************/
.infoTip{
background-position:3px -147px;
background: url(../images/warbgs.gif) no-repeat 2px 2px;
background-color:#E5F5FF;  
border:1px solid #40B3FF;
color:#404040;
line-height:18px;
padding:2px 10px 2px 23px;
}

.validTip {
background-position:3px -147px;
background: url(../images/errbgs.gif) no-repeat scroll 2px 2px;
border:1px solid #FF8080;
background-color:#FFF2F2;
color:#404040;
float:left;
line-height:18px;
padding:2px 10px 2px 23px;
}






